<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}"></head>

<body class="bg-white">

<!-- --------------------------- [FRAGMENT : 상단 네이게이션바]  ------------------------------------->
<div th:replace="~{fragments/top-nav :: top-nav}"></div>

<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
  </div>
  <div id="layoutSidenav_content">
    <main>


      <!-- --------------------------- [FRAGMENT : 배너]  ------------------------------------->
      <div th:replace="~{fragments/top-banner :: top-banner}"></div>


      <!-- --------------------------- [중앙 : 컨텐츠 START]  ------------------------------------->

      <div class="container-xl px-4 mt-n10">
        <div class="row">
          <div class="col-lg-12">


            <!-- 마이페이지  -->
            <div id="fadeIn">
              <div class="card mb-4">
                <div class="card-header"><h1>ooo(학생) 마이페이지</h1></div>
                <div class="card-body">

                  <div class="sbp-preview">

                    <!-------- 게시물 목록 -------->
                    <div class="sbp-preview-content">
                      <div class="alert alert-primary alert-icon" role="alert">
                        <div class="alert-icon-aside">
                          <svg class="svg-inline--fa fa-flag" aria-hidden="true" focusable="false"
                               data-prefix="far" data-icon="flag" role="img"
                               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                               data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M48 24C48 10.7 37.3 0 24 0S0 10.7 0 24V64 350.5 400v88c0 13.3 10.7 24 24 24s24-10.7 24-24V388l80.3-20.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L48 52V24zm0 77.5l96.6-24.2c27-6.7 55.5-3.6 80.4 8.8c54.9 27.4 118.7 29.7 175 6.8V334.7l-24.4 9.1c-33.7 12.6-71.2 10.7-103.4-5.4c-48.2-24.1-103.3-30.1-155.6-17.1L48 338.5v-237z"></path>
                          </svg><!-- <i class="far fa-flag"></i> Font Awesome fontawesome.com -->
                        </div>
                        <div class="alert-icon-content">
                          <h6 class="alert-heading">풀어야 할 시험</h6>
                        </div>
                      </div>
                      <div
                          class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        <div class="datatable-container">
                          <table id="datatablesSimple" class="datatable-table">
                            <thead>
                            <tr>
                              <th data-sortable="true" style="width: 10%;">번호</th>
                              <th data-sortable="true" style="width: 50%;">제목</th>
                              <th data-sortable="true" style="width: 15%;">작성자</th>
                              <th data-sortable="true" style="width: 15%;">작성일</th>
                              <th data-sortable="true" style="width: 10%;">삭제</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>1</td>
                              <td><a th:href="@{/qna/detail/1}">영어 어휘 제목 제목</a></td>
                              <td>홍길동</td>
                              <td>2024-01-01</td>
                              <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark">
                                  <svg class="svg-inline--fa fa-trash-can" aria-hidden="true"
                                       focusable="false" data-prefix="far" data-icon="trash-can"
                                       role="img" xmlns="http://www.w3.org/2000/svg"
                                       viewBox="0 0 448 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"></path>
                                  </svg>
                                </button>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td><a th:href="@{/qna/detail/2}">영어 어휘 제목 제목222</a></td>
                              <td>아무개</td>
                              <td>2024-01-01</td>
                              <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark">
                                  <svg class="svg-inline--fa fa-trash-can" aria-hidden="true"
                                       focusable="false" data-prefix="far" data-icon="trash-can"
                                       role="img" xmlns="http://www.w3.org/2000/svg"
                                       viewBox="0 0 448 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"></path>
                                  </svg>
                                </button>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--  페이징  -->
                        <div class="datatable-bottom">
                          <div class="datatable-info">총 57 게시물</div>
                          <nav class="datatable-pagination">
                            <ul class="datatable-pagination-list">
                              <li class="datatable-pagination-list-item datatable-hidden datatable-disabled">
                                <a data-page="1" class="datatable-pagination-list-item-link">‹</a>
                              </li>
                              <li class="datatable-pagination-list-item datatable-active">
                                <a data-page="1" class="datatable-pagination-list-item-link">1</a>
                              </li>
                              <li class="datatable-pagination-list-item">
                                <a data-page="2" class="datatable-pagination-list-item-link">2</a>
                              </li>
                              <li class="datatable-pagination-list-item">
                                <a data-page="3" class="datatable-pagination-list-item-link">3</a>
                              </li>
                              <li class="datatable-pagination-list-item">
                                <a data-page="4" class="datatable-pagination-list-item-link">›</a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>

                    <!-------- 게시물 목록 -------->
                    <div class="sbp-preview-text">
                      <div class="alert alert-primary alert-icon" role="alert">
                        <div class="alert-icon-aside">
                          <svg class="svg-inline--fa fa-flag" aria-hidden="true" focusable="false"
                               data-prefix="far" data-icon="flag" role="img"
                               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                               data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M48 24C48 10.7 37.3 0 24 0S0 10.7 0 24V64 350.5 400v88c0 13.3 10.7 24 24 24s24-10.7 24-24V388l80.3-20.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L48 52V24zm0 77.5l96.6-24.2c27-6.7 55.5-3.6 80.4 8.8c54.9 27.4 118.7 29.7 175 6.8V334.7l-24.4 9.1c-33.7 12.6-71.2 10.7-103.4-5.4c-48.2-24.1-103.3-30.1-155.6-17.1L48 338.5v-237z"></path>
                          </svg><!-- <i class="far fa-flag"></i> Font Awesome fontawesome.com -->
                        </div>
                        <div class="alert-icon-content">
                          <h6 class="alert-heading">제출한 시험</h6>
                        </div>
                      </div>
                      <div
                          class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        <div class="datatable-container">
                          <table id="datatablesSimple" class="datatable-table">
                            <thead>
                            <tr>
                              <th data-sortable="true" style="width: 10%;">번호</th>
                              <th data-sortable="true" style="width: 50%;">제목</th>
                              <th data-sortable="true" style="width: 15%;">작성자</th>
                              <th data-sortable="true" style="width: 15%;">작성일</th>
                              <th data-sortable="true" style="width: 10%;">삭제</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>1</td>
                              <td><a th:href="@{/qna/detail/1}">영어 어휘 제목 제목</a></td>
                              <td>홍길동</td>
                              <td>2024-01-01</td>
                              <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark">
                                  <svg class="svg-inline--fa fa-trash-can" aria-hidden="true"
                                       focusable="false" data-prefix="far" data-icon="trash-can"
                                       role="img" xmlns="http://www.w3.org/2000/svg"
                                       viewBox="0 0 448 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"></path>
                                  </svg>
                                </button>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td><a th:href="@{/qna/detail/2}">영어 어휘 제목 제목222</a></td>
                              <td>아무개</td>
                              <td>2024-01-01</td>
                              <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark">
                                  <svg class="svg-inline--fa fa-trash-can" aria-hidden="true"
                                       focusable="false" data-prefix="far" data-icon="trash-can"
                                       role="img" xmlns="http://www.w3.org/2000/svg"
                                       viewBox="0 0 448 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"></path>
                                  </svg>
                                </button>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--  페이징  -->
                        <div class="datatable-bottom">
                          <div class="datatable-info">총 57 게시물</div>
                          <nav class="datatable-pagination">
                            <ul class="datatable-pagination-list">
                              <li class="datatable-pagination-list-item datatable-hidden datatable-disabled">
                                <a data-page="1" class="datatable-pagination-list-item-link">‹</a>
                              </li>
                              <li class="datatable-pagination-list-item datatable-active">
                                <a data-page="1" class="datatable-pagination-list-item-link">1</a>
                              </li>
                              <li class="datatable-pagination-list-item">
                                <a data-page="2" class="datatable-pagination-list-item-link">2</a>
                              </li>
                              <li class="datatable-pagination-list-item">
                                <a data-page="3" class="datatable-pagination-list-item-link">3</a>
                              </li>
                              <li class="datatable-pagination-list-item">
                                <a data-page="4" class="datatable-pagination-list-item-link">›</a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>

                    <!-------- 게시물 목록 -------->
                    <div class="sbp-preview-content">
                      <div class="alert alert-primary alert-icon" role="alert">
                        <div class="alert-icon-aside">
                          <svg class="svg-inline--fa fa-flag" aria-hidden="true" focusable="false"
                               data-prefix="far" data-icon="flag" role="img"
                               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                               data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M48 24C48 10.7 37.3 0 24 0S0 10.7 0 24V64 350.5 400v88c0 13.3 10.7 24 24 24s24-10.7 24-24V388l80.3-20.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L48 52V24zm0 77.5l96.6-24.2c27-6.7 55.5-3.6 80.4 8.8c54.9 27.4 118.7 29.7 175 6.8V334.7l-24.4 9.1c-33.7 12.6-71.2 10.7-103.4-5.4c-48.2-24.1-103.3-30.1-155.6-17.1L48 338.5v-237z"></path>
                          </svg><!-- <i class="far fa-flag"></i> Font Awesome fontawesome.com -->
                        </div>
                        <div class="alert-icon-content">
                          <h6 class="alert-heading">내가 작성한 Q&A</h6>
                        </div>
                      </div>
                      <div
                          class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        <div class="datatable-container">
                          <table id="datatablesSimple" class="datatable-table">
                            <thead>
                            <tr>
                              <th data-sortable="true" style="width: 10%;">번호</th>
                              <th data-sortable="true" style="width: 50%;">제목</th>
                              <th data-sortable="true" style="width: 15%;">작성자</th>
                              <th data-sortable="true" style="width: 15%;">작성일</th>
                              <th data-sortable="true" style="width: 10%;">삭제</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>1</td>
                              <td><a th:href="@{/qna/detail/1}">영어 어휘 제목 제목</a></td>
                              <td>홍길동</td>
                              <td>2024-01-01</td>
                              <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark">
                                  <svg class="svg-inline--fa fa-trash-can" aria-hidden="true"
                                       focusable="false" data-prefix="far" data-icon="trash-can"
                                       role="img" xmlns="http://www.w3.org/2000/svg"
                                       viewBox="0 0 448 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"></path>
                                  </svg>
                                </button>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td><a th:href="@{/qna/detail/2}">영어 어휘 제목 제목222</a></td>
                              <td>아무개</td>
                              <td>2024-01-01</td>
                              <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark">
                                  <svg class="svg-inline--fa fa-trash-can" aria-hidden="true"
                                       focusable="false" data-prefix="far" data-icon="trash-can"
                                       role="img" xmlns="http://www.w3.org/2000/svg"
                                       viewBox="0 0 448 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"></path>
                                  </svg>
                                </button>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--  페이징  -->
                        <div class="datatable-bottom">
                          <div class="datatable-info">총 57 게시물</div>
                          <nav class="datatable-pagination">
                            <ul class="datatable-pagination-list">
                              <li class="datatable-pagination-list-item datatable-hidden datatable-disabled">
                                <a data-page="1" class="datatable-pagination-list-item-link">‹</a>
                              </li>
                              <li class="datatable-pagination-list-item datatable-active">
                                <a data-page="1" class="datatable-pagination-list-item-link">1</a>
                              </li>
                              <li class="datatable-pagination-list-item">
                                <a data-page="2" class="datatable-pagination-list-item-link">2</a>
                              </li>
                              <li class="datatable-pagination-list-item">
                                <a data-page="3" class="datatable-pagination-list-item-link">3</a>
                              </li>
                              <li class="datatable-pagination-list-item">
                                <a data-page="4" class="datatable-pagination-list-item-link">›</a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>

                    <!-------- 게시물 목록 -------->
                    <div class="sbp-preview-text">
                      <div class="alert alert-primary alert-icon" role="alert">
                        <div class="alert-icon-aside">
                          <svg class="svg-inline--fa fa-flag" aria-hidden="true" focusable="false"
                               data-prefix="far" data-icon="flag" role="img"
                               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                               data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M48 24C48 10.7 37.3 0 24 0S0 10.7 0 24V64 350.5 400v88c0 13.3 10.7 24 24 24s24-10.7 24-24V388l80.3-20.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L48 52V24zm0 77.5l96.6-24.2c27-6.7 55.5-3.6 80.4 8.8c54.9 27.4 118.7 29.7 175 6.8V334.7l-24.4 9.1c-33.7 12.6-71.2 10.7-103.4-5.4c-48.2-24.1-103.3-30.1-155.6-17.1L48 338.5v-237z"></path>
                          </svg><!-- <i class="far fa-flag"></i> Font Awesome fontawesome.com -->
                        </div>
                        <div class="alert-icon-content">
                          <h6 class="alert-heading">내가 작성한 댓글</h6>
                        </div>
                      </div>
                      <div
                          class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        <div class="datatable-container">
                          <table id="datatablesSimple" class="datatable-table">
                            <thead>
                            <tr>
                              <th data-sortable="true" style="width: 10%;">번호</th>
                              <th data-sortable="true" style="width: 50%;">제목</th>
                              <th data-sortable="true" style="width: 15%;">작성자</th>
                              <th data-sortable="true" style="width: 15%;">작성일</th>
                              <th data-sortable="true" style="width: 10%;">삭제</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>1</td>
                              <td><a th:href="@{/qna/detail/1}">영어 어휘 제목 제목</a></td>
                              <td>홍길동</td>
                              <td>2024-01-01</td>
                              <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark">
                                  <svg class="svg-inline--fa fa-trash-can" aria-hidden="true"
                                       focusable="false" data-prefix="far" data-icon="trash-can"
                                       role="img" xmlns="http://www.w3.org/2000/svg"
                                       viewBox="0 0 448 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"></path>
                                  </svg>
                                </button>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td><a th:href="@{/qna/detail/2}">영어 어휘 제목 제목222</a></td>
                              <td>아무개</td>
                              <td>2024-01-01</td>
                              <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark">
                                  <svg class="svg-inline--fa fa-trash-can" aria-hidden="true"
                                       focusable="false" data-prefix="far" data-icon="trash-can"
                                       role="img" xmlns="http://www.w3.org/2000/svg"
                                       viewBox="0 0 448 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"></path>
                                  </svg>
                                </button>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--  페이징  -->
                        <div class="datatable-bottom">
                          <div class="datatable-info">총 57 게시물</div>
                          <nav class="datatable-pagination">
                            <ul class="datatable-pagination-list">
                              <li class="datatable-pagination-list-item datatable-hidden datatable-disabled">
                                <a data-page="1" class="datatable-pagination-list-item-link">‹</a>
                              </li>
                              <li class="datatable-pagination-list-item datatable-active">
                                <a data-page="1" class="datatable-pagination-list-item-link">1</a>
                              </li>
                              <li class="datatable-pagination-list-item">
                                <a data-page="2" class="datatable-pagination-list-item-link">2</a>
                              </li>
                              <li class="datatable-pagination-list-item">
                                <a data-page="3" class="datatable-pagination-list-item-link">3</a>
                              </li>
                              <li class="datatable-pagination-list-item">
                                <a data-page="4" class="datatable-pagination-list-item-link">›</a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- --------------------------- [중앙 : 컨텐츠 START]  ------------------------------------->

    </main>


    <!-- --------------------------- [FRAGMENT : 하단] ------------------------------------->
    <footer th:replace="~{fragments/footer :: footer}"></footer>


  </div>
</div>


<!-- 공통 <script> 포함 -->
<div th:replace="~{fragments/scripts :: scripts}"></div>


</body>

</html>