<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Example</title>
    <style>
        .header {
            padding-right: 20px;
            overflow: hidden;
        }

        .logo-custom img {
            width: 36px; /* 로고 크기 조정 */
            height: auto;
        }

        .profile-img {
            width: 36px !important; /* 프로필 이미지 크기 조정 */
            height: auto;
            border-radius: 50%; /* 둥글게 만들기 */
            object-fit: cover; /* 이미지 비율을 유지하며 꽉 차게 */
        }
    </style>
</head>

<body>

<header id="header" class="header fixed-top d-flex align-items-center"
        style="height: 80px; justify-content: space-between; padding-right: 20px">
    <div class="header-left">
        <a href="#" class="logo logo-custom d-flex align-items-center" style="width: 36px;">
            <img th:src="@{/assets/img/logo/Horizontal-logo.png}" alt="" style="width: auto; ">
        </a>
    </div>
    <div class="header-right " style=" object-fit: cover;">
        <a th:href="@{/my(memberSeq=${memberSeq})}" style="color: #f5b402; margin-right: 1rem; ">
            <span th:text="${nickname}" style="font-weight: bold">Nickname</span>
            <img th:src="@{/assets/img/basic/student_default.jpg}" alt=" " class="profile-img"
                 style="width: 50px; height: auto; border-radius: 50%; ">
        </a>
        <a href="#" style="margin-top: 17px; font-size: 0.9rem; color: #f5b402; ">로그아웃</a>
    </div>
</header>

</body>
</html>