<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}"></head>

<body class="bg-white">

<!-- --------------------------- [FRAGMENT : 상단 네이게이션바]  ------------------------------------->
<div th:replace="~{fragments/top-nav :: top-nav}"></div>

<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
  </div>
  <div id="layoutSidenav_content">
    <main>


      <!-- --------------------------- [FRAGMENT : 배너]  ------------------------------------->
      <div th:replace="~{fragments/top-banner :: top-banner}"></div>


      <!-- --------------------------- [중앙 : 컨텐츠 START]  ------------------------------------->

      <div class="container-xl px-4 mt-n10">
        <div class="row">
          <div class="col-lg-12">


            <!-- 마이페이지  -->
            <div id="fadeIn">
              <div class="card mb-4">
                <div class="card-header"><h1 th:text="${nickname + '님 마이 페이지'}"></h1></div>
                <div class="card-body">

                  <div class="sbp-preview">

                    <!-------- 게시물 목록 -------->
                    <div class="sbp-preview-content">
                      <div class="alert alert-primary alert-icon" role="alert">
                        <div class="alert-icon-aside">
                          <svg class="svg-inline--fa fa-flag" aria-hidden="true" focusable="false"
                               data-prefix="far" data-icon="flag" role="img"
                               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                               data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M48 24C48 10.7 37.3 0 24 0S0 10.7 0 24V64 350.5 400v88c0 13.3 10.7 24 24 24s24-10.7 24-24V388l80.3-20.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L48 52V24zm0 77.5l96.6-24.2c27-6.7 55.5-3.6 80.4 8.8c54.9 27.4 118.7 29.7 175 6.8V334.7l-24.4 9.1c-33.7 12.6-71.2 10.7-103.4-5.4c-48.2-24.1-103.3-30.1-155.6-17.1L48 338.5v-237z"></path>
                          </svg><!-- <i class="far fa-flag"></i> Font Awesome fontawesome.com -->
                        </div>
                        <div class="alert-icon-content">
                          <h6 class="alert-heading">출제해야할 시험</h6>
                        </div>
                      </div>
                      <div
                          class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        <div class="datatable-container">
                          <table class="datatable-table" id="pending-exams-table">
                            <thead>
                            <tr>
                              <th data-sortable="true" style="width: 10%;">번호</th>
                              <th data-sortable="true" style="width: 65%;">제목</th>
                              <th data-sortable="true" style="width: 10%;">담당학생</th>
                              <th data-sortable="true" style="width: 15%;">작성일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${pendingExam != null}"
                                th:each="exam, iterStat : ${pendingExam}">
                              <td th:text="${iterStat.index + 1}"></td>
                              <td><a th:href="@{/exam/detail/{id}(id=${exam.seq})}"
                                     th:text="${exam.title}"></a></td>
                              <td th:text="${exam.studentNickname}"></td>
                              <td th:text="${#temporals.format(exam.createdAt, 'yyyy-MM-dd')}"></td>
                            </tr>
                            <tr th:if="${pendingExam == null || pendingExam.isEmpty() }">
                              <td colspan="5">등록된 시험이 없습니다.</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="datatable-bottom">
                          <div class="datatable-info">총 <span
                              th:text="${pendingExamPagination.totalElements}"></span> 게시물
                          </div>
                          <nav class="datatable-pagination" id="pending-exams-pagination"
                               th:attr="style=${pendingExamPagination.totalElements <= 10} ? 'display:none;' : ''">
                            <ul class="datatable-pagination-list">
                              <!-- 이전 페이지 버튼 -->
                              <li th:classappend="'datatable-pagination-list-item ' + (!${pendingExamPagination.hasPreviousPage} ? 'datatable-disabled' : '')">
                                <a th:href="@{/my/info(pagePending=${pendingExamPagination.currentPage - 1}, pageCreated=${param.pageCreated}, pageQna=${param.pageQna}, pageReply=${param.pageReply})}"
                                   class="datatable-pagination-list-item-link">‹</a>
                              </li>
                              <!-- 페이지 번호 버튼 -->
                              <li th:each="i : ${#numbers.sequence(1, pendingExamPagination.totalPages)}"
                                  th:classappend="'datatable-pagination-list-item ' + (${i} == ${pendingExamPagination.currentPage + 1} ? 'datatable-active' : '')">
                                <a th:href="@{/my/info(pagePending=${i - 1}, pageCreated=${param.pageCreated}, pageQna=${param.pageQna}, pageReply=${param.pageReply})}"
                                   th:text="${i}"
                                   class="datatable-pagination-list-item-link"></a>
                              </li>
                              <!-- 다음 페이지 버튼 -->
                              <li th:classappend="'datatable-pagination-list-item ' + (!${pendingExamPagination.hasNextPage} ? 'datatable-disabled' : '')">
                                <a th:href="@{/my/info(pagePending=${pendingExamPagination.currentPage + 1}, pageCreated=${param.pageCreated}, pageQna=${param.pageQna}, pageReply=${param.pageReply})}"
                                   class="datatable-pagination-list-item-link">›</a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>

                    <!-------- 게시물 목록 -------->
                    <div class="sbp-preview-text">
                      <div class="alert alert-primary alert-icon" role="alert">
                        <div class="alert-icon-aside">
                          <svg class="svg-inline--fa fa-flag" aria-hidden="true" focusable="false"
                               data-prefix="far" data-icon="flag" role="img"
                               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                               data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M48 24C48 10.7 37.3 0 24 0S0 10.7 0 24V64 350.5 400v88c0 13.3 10.7 24 24 24s24-10.7 24-24V388l80.3-20.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L48 52V24zm0 77.5l96.6-24.2c27-6.7 55.5-3.6 80.4 8.8c54.9 27.4 118.7 29.7 175 6.8V334.7l-24.4 9.1c-33.7 12.6-71.2 10.7-103.4-5.4c-48.2-24.1-103.3-30.1-155.6-17.1L48 338.5v-237z"></path>
                          </svg><!-- <i class="far fa-flag"></i> Font Awesome fontawesome.com -->
                        </div>
                        <div class="alert-icon-content">
                          <h6 class="alert-heading">출제한 시험</h6>
                        </div>
                      </div>
                      <div
                          class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        <div class="datatable-container">
                          <table class="datatable-table" id="created-exams-table">
                            <thead>
                            <tr>
                              <th data-sortable="true" style="width: 10%;">번호</th>
                              <th data-sortable="true" style="width: 65%;">제목</th>
                              <th data-sortable="true" style="width: 10%;">담당학생</th>
                              <th data-sortable="true" style="width: 15%;">작성일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${examHistory != null}"
                                th:each="exam, iterStat : ${examHistory}">
                              <td th:text="${iterStat.index + 1 }"></td>
                              <td><a th:href="@{/exam/detail/{id}(id=${exam.seq})}"
                                     th:text="${exam.title}"></a></td>
                              <td th:text="${exam.studentNickname}"></td>
                              <td th:text="${#temporals.format(exam.createdAt, 'yyyy-MM-dd')}"></td>
                            </tr>
                            <tr th:if="${examHistory == null || examHistory.isEmpty() }">
                              <td colspan="5">등록된 시험이 없습니다.</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="datatable-bottom">
                          <div class="datatable-info">총 <span
                              th:text="${examHistoryPagination.totalElements}"></span> 게시물
                          </div>
                          <nav class="datatable-pagination" id="created-exams-pagination"
                               th:attr="style=${examHistoryPagination.totalElements <= 10} ? 'display:none;' : ''">
                            <ul class="datatable-pagination-list">
                              <!-- 이전 페이지 버튼 -->
                              <li th:classappend="'datatable-pagination-list-item ' + (!${examHistoryPagination.hasPreviousPage} ? 'datatable-disabled' : '')">
                                <a th:href="@{/my/info(pagePending=${param.pagePending}, pageCreated=${examHistoryPagination.currentPage - 1}, pageQna=${param.pageQna}, pageReply=${param.pageReply})}"
                                   class="datatable-pagination-list-item-link">‹</a>
                              </li>
                              <!-- 페이지 번호 버튼 -->
                              <li th:each="i : ${#numbers.sequence(1, examHistoryPagination.totalPages)}"
                                  th:classappend="'datatable-pagination-list-item ' + (${i} == ${examHistoryPagination.currentPage + 1} ? 'datatable-active' : '')">
                                <a th:href="@{/my/info(pagePending=${param.pagePending}, pageCreated=${i - 1}, pageQna=${param.pageQna}, pageReply=${param.pageReply})}"
                                   th:text="${i}"
                                   class="datatable-pagination-list-item-link"></a>
                              </li>
                              <!-- 다음 페이지 버튼 -->
                              <li th:classappend="'datatable-pagination-list-item ' + (!${examHistoryPagination.hasNextPage} ? 'datatable-disabled' : '')">
                                <a th:href="@{/my/info(pagePending=${param.pagePending}, pageCreated=${examHistoryPagination.currentPage + 1}, pageQna=${param.pageQna}, pageReply=${param.pageReply})}"
                                   class="datatable-pagination-list-item-link">›</a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>

                    <!-------- 게시물 목록 -------->
                    <div class="sbp-preview-content">
                      <div class="alert alert-primary alert-icon" role="alert">
                        <div class="alert-icon-aside">
                          <svg class="svg-inline--fa fa-flag" aria-hidden="true" focusable="false"
                               data-prefix="far" data-icon="flag" role="img"
                               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                               data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M48 24C48 10.7 37.3 0 24 0S0 10.7 0 24V64 350.5 400v88c0 13.3 10.7 24 24 24s24-10.7 24-24V388l80.3-20.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L48 52V24zm0 77.5l96.6-24.2c27-6.7 55.5-3.6 80.4 8.8c54.9 27.4 118.7 29.7 175 6.8V334.7l-24.4 9.1c-33.7 12.6-71.2 10.7-103.4-5.4c-48.2-24.1-103.3-30.1-155.6-17.1L48 338.5v-237z"></path>
                          </svg><!-- <i class="far fa-flag"></i> Font Awesome fontawesome.com -->
                        </div>
                        <div class="alert-icon-content">
                          <h6 class="alert-heading">내가 작성한 Q&A</h6>
                        </div>
                      </div>
                      <div
                          class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        <div class="datatable-container">
                          <table class="datatable-table" id="written-qna-table">
                            <thead>
                            <tr>
                              <th data-sortable="true" style="width: 10%;">번호</th>
                              <th data-sortable="true" style="width: 75%;">제목</th>
                              <th data-sortable="true" style="width: 15%;">작성일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${writtenQna != null}"
                                th:each="qna, iterStat : ${writtenQna}">
                              <td th:text="${iterStat.index + 1 }">1</td>
                              <td><a th:href="@{/qna/detail/{questionSeq}(questionSeq=${qna.seq})}"
                                     th:text="${qna.title}">제목</a>
                              </td>
                              <td th:text="${qna.createdAt != null ? #temporals.format(qna.createdAt, 'yyyy-MM-dd') : ''}"></td>
                            </tr>
                            <tr th:if="${writtenQna == null || writtenQna.isEmpty() }">
                              <td colspan="5">등록된 글이 없습니다.</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="datatable-bottom">
                          <div class="datatable-info">총 <span
                              th:text="${writtenQnaPagination.totalElements}"></span> 게시물
                          </div>
                          <nav class="datatable-pagination">
                            <ul class="datatable-pagination-list">
                              <!-- 이전 페이지 -->
                              <li th:classappend="'datatable-pagination-list-item ' + (!${writtenQnaPagination.hasPreviousPage} ? 'datatable-disabled' : '')">
                                <a th:href="@{/my/info(pagePending=${param.pagePending}, pageCreated=${param.pageCreated}, pageQna=${writtenQnaPagination.currentPage - 1}, pageReply=${param.pageReply})}"
                                   class="datatable-pagination-list-item-link">‹</a>
                              </li>
                              <!-- 페이지 번호 -->
                              <li th:each="i : ${#numbers.sequence(1, writtenQnaPagination.totalPages)}"
                                  th:classappend="'datatable-pagination-list-item ' + (${i} == ${writtenQnaPagination.currentPage + 1} ? 'datatable-active' : '')">
                                <a th:href="@{/my/info(pagePending=${param.pagePending}, pageCreated=${param.pageCreated}, pageQna=${i - 1}, pageReply=${param.pageReply})}"
                                   th:text="${i}" class="datatable-pagination-list-item-link"></a>
                              </li>
                              <!-- 다음 페이지 -->
                              <li th:classappend="'datatable-pagination-list-item ' + (!${writtenQnaPagination.hasNextPage} ? 'datatable-disabled' : '')">
                                <a th:href="@{/my/info(pagePending=${param.pagePending}, pageCreated=${param.pageCreated}, pageQna=${writtenQnaPagination.currentPage + 1}, pageReply=${param.pageReply})}"
                                   class="datatable-pagination-list-item-link">›</a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>

                    <!-------- 게시물 목록 -------->
                    <div class="sbp-preview-text">
                      <div class="alert alert-primary alert-icon" role="alert">
                        <div class="alert-icon-aside">
                          <svg class="svg-inline--fa fa-flag" aria-hidden="true" focusable="false"
                               data-prefix="far" data-icon="flag" role="img"
                               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                               data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M48 24C48 10.7 37.3 0 24 0S0 10.7 0 24V64 350.5 400v88c0 13.3 10.7 24 24 24s24-10.7 24-24V388l80.3-20.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L48 52V24zm0 77.5l96.6-24.2c27-6.7 55.5-3.6 80.4 8.8c54.9 27.4 118.7 29.7 175 6.8V334.7l-24.4 9.1c-33.7 12.6-71.2 10.7-103.4-5.4c-48.2-24.1-103.3-30.1-155.6-17.1L48 338.5v-237z"></path>
                          </svg><!-- <i class="far fa-flag"></i> Font Awesome fontawesome.com -->
                        </div>
                        <div class="alert-icon-content">
                          <h6 class="alert-heading">내가 작성한 댓글</h6>
                        </div>
                      </div>
                      <div
                          class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        <div class="datatable-container">
                          <table class="datatable-table" id="written-replies-table">
                            <thead>
                            <tr>
                              <th data-sortable="true" style="width: 10%;">번호</th>
                              <th data-sortable="true" style="width: 75%;">내용</th>
                              <th data-sortable="true" style="width: 15%;">작성일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${writtenReply != null}"
                                th:each="reply, iterStat : ${writtenReply}">
                              <td th:text="${iterStat.index + 1 }">1</td>
                              <td>
                                <a th:href="@{/qna/detail/{questionSeq}(questionSeq=${reply.questionSeq})}">
                                  <span
                                      th:text="${#strings.length(reply.content) > 70} ? ${#strings.substring(reply.content, 0, 70)} + '...' : ${reply.content}">
                                    제목
                                  </span>
                                </a>
                              <td th:text="${#temporals.format(reply.createdAt, 'yyyy-MM-dd')}"></td>
                            </tr>
                            <tr th:if="${writtenReply == null || writtenReply.isEmpty() }">
                              <td colspan="5">등록된 글이 없습니다.</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="datatable-bottom">
                          <div class="datatable-info">총 <span
                              th:text="${writtenReplyPagination.totalElements}"></span> 게시물
                          </div>
                          <nav class="datatable-pagination">
                            <ul class="datatable-pagination-list">
                              <!-- 이전 페이지 -->
                              <li th:classappend="'datatable-pagination-list-item ' + (!${writtenReplyPagination.hasPreviousPage} ? 'datatable-disabled' : '')">
                                <a th:href="@{/my/info(pagePending=${param.pagePending}, pageCreated=${param.pageCreated}, pageQna=${param.pageQna}, pageReply=${writtenReplyPagination.currentPage - 1})}"
                                   class="datatable-pagination-list-item-link">‹</a>
                              </li>
                              <!-- 페이지 번호 -->
                              <li th:each="i : ${#numbers.sequence(1, writtenReplyPagination.totalPages)}"
                                  th:classappend="'datatable-pagination-list-item ' + (${i} == ${writtenReplyPagination.currentPage + 1} ? 'datatable-active' : '')">
                                <a th:href="@{/my/info(pagePending=${param.pagePending}, pageCreated=${param.pageCreated}, pageQna=${param.pageQna}, pageReply=${i - 1})}"
                                   th:text="${i}" class="datatable-pagination-list-item-link"></a>
                              </li>
                              <!-- 다음 페이지 -->
                              <li th:classappend="'datatable-pagination-list-item ' + (!${writtenReplyPagination.hasNextPage} ? 'datatable-disabled' : '')">
                                <a th:href="@{/my/info(pagePending=${param.pagePending}, pageCreated=${param.pageCreated}, pageQna=${param.pageQna}, pageReply=${writtenReplyPagination.currentPage + 1})}"
                                   class="datatable-pagination-list-item-link">›</a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- --------------------------- [중앙 : 컨텐츠 START]  ------------------------------------->

    </main>


    <!-- --------------------------- [FRAGMENT : 하단] ------------------------------------->
    <footer th:replace="~{fragments/footer :: footer}"></footer>


  </div>
</div>


<!-- 공통 <script> 포함 -->
<div th:replace="~{fragments/scripts :: scripts}"></div>

</body>

</html>