<!-- **************************  레이아웃 공통 ********************* -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="header">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>EngleBee</title>
  <link th:href="@{/css/style.min.css}" rel="stylesheet">
  <link th:href="@{/css/litepicker.css}" rel="stylesheet">
  <link th:href="@{/css/styles.css}" rel="stylesheet">
  <link th:href="@{/css/hr.css}" rel="stylesheet">
  <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">
  <!-- google kr font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
        rel="stylesheet">
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <!--chart-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    h1 {
      font-family: 'Noto Sans KR';
      font-weight: 500;
      color: rgb(0, 97, 242);
    }
    img{
      width: 50px;
      border-radius: 50px;
      margin-bottom: 0px;
    }
    .chart-area{
      height: 500px;
    }
  </style>
</head>


</html>
