<!-- **************************  레이아웃 공통 ********************* -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

        <!-- 공통 스크립트 파일들 -->
        <div th:fragment="scripts">
                <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
                <script th:src="@{/js/feather.min.js}"></script>
                <script th:src="@{/js/scripts.js}"></script>
                <script th:src="@{/js/litepicker-bundle.js}"></script>
                <script th:src="@{/js/admin-chart.js}"></script>
                <script th:src="@{/js/lecture.js}"></script>
                <script>
                        const picker = new Litepicker({
                          element: document.getElementById('litepicker')
                        });
                </script>


        </div>

</body>
</html>

