 <!-- **************************  레이아웃 공통 ********************* -->


 <!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 <body>
 <div th:fragment="top-banner">

    <!-- [상단] 배너 -->
     <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
         <div class="container-xl px-4">
             <div class="page-header-content pt-4">
                 <div class="row align-items-center justify-content-between">
                     <div class="col-auto mt-4">
                         <h1 class="page-header-title">
                             <div class="page-header-icon"><i data-feather="activity"></i></div>
                             EngleBee
                         </h1>
                         <div class="page-header-subtitle"><font color=yellow><b>1:1 맞춤 과외</font>
                             내가 찾던 바로 그 선생님, EngleBee에서 찾았어요!</font></div></b>
                     </div>

                 </div>
             </div>
         </div>
     </header>

 </div>
 </body>
 </html>