<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"></head>

<body class="bg-white">

<!-- --------------------------- [FRAGMENT : 상단 네이게이션바]  ------------------------------------->
<div th:replace="fragments/top-nav :: top-nav"></div>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
    </div>
    <div id="layoutSidenav_content">
        <main>

            <!-- --------------------------- [FRAGMENT : 배너]  ------------------------------------->
            <div th:replace="fragments/top-banner :: top-banner"></div>

            <!-- --------------------------- [중앙 : 컨텐츠 START]  ------------------------------------->




                    <div class="container-xl px-4 mt-n10">
                        <!-- Wizard card example with navigation-->
                        <div class="card">
                            <div class="card-header border-bottom">
                                <!-- Wizard navigation-->
                                <div class="nav nav-pills nav-justified flex-column flex-xl-row nav-wizard">

                                    <!-- Wizard navigation item 1-->
                                    <a  th:href="@{/exam/register/1}">
                                    <div class="nav-item nav-link">
                                        <div class="wizard-step-icon">1</div>
                                        <div class="wizard-step-text">
                                            <div class="wizard-step-text-name">시험출제</div>
                                            <div class="wizard-step-text-details">시험 문제 등록합니다.</div>
                                        </div>
                                    </div>
                                    </a>
                                    <!-- Wizard navigation item 2 ************** 시험상세조회 페이지 -->
                                    <a class="nav-item nav-link active" href="#wizard2">
                                        <div class="wizard-step-icon">2</div>
                                        <div class="wizard-step-text">
                                            <div class="wizard-step-text-name">시험상세조회</div>
                                            <div class="wizard-step-text-details">제출 답안에 대해 상세 조회할 수 있습니다.</div>
                                        </div>
                                    </a>

                                    <!-- Wizard navigation item 3-->
                                    <a  th:href="@{/exam/feedback/1}">
                                        <div class="nav-item nav-link">
                                            <div class="wizard-step-icon">3</div>
                                            <div class="wizard-step-text">
                                                <div class="wizard-step-text-name">피드백작성</div>
                                                <div class="wizard-step-text-details">제출 답안에 대해 피드백 작성할 수 있습니다.</div>
                                            </div>
                                        </div>
                                    </a>

                                    <!-- Wizard navigation item 4-->
                                    <a  th:href="@{/exam/solve/1}">
                                        <div class="nav-item nav-link">
                                            <div class="wizard-step-icon">4</div>
                                            <div class="wizard-step-text">
                                                <div class="wizard-step-text-name">작성답안보기</div>
                                                <div class="wizard-step-text-details">제출 답안 상세조회할 수 있습니다.</div>
                                            </div>
                                        </div>
                                    </a>


                                </div>
                            </div>



                            <div class="card-body">
                                <div class="tab-content" id="cardTabContent">


                                    <!-- Wizard tab pane item 2-->
                                    <div style="margin-top: 0;" class="tab-pane py-1 active fade show" id="wizard2" role="tabpanel" aria-labelledby="wizard2-tab">
                                        <div class="row">
                                            <div class="col-lg-12">

                                                <!-- 문제출제 div 박스  -->
                                                <div>
                                                    <div class="card mb-4">
                                                        <div class="card-header">문제1</div>
                                                        <div class="card-body">
                                                            <form>
                                                                <div class="mb-3">
                                                                    <label class="small mb-1" style="color: red; font-weight: bold;"><b>어휘 : 기초</b></label><br>
                                                                    <b>Q : 다음이 의미하는 것은 무엇인가?</b>
                                                                </div>
                                                                <div class="mb-0">
                                                                    <div class="form-check mb-2 d-flex align-items-center">
                                                                        <b></b><label class="form-check-label me-3">① 보기111</label></b>
                                                                    </div>
                                                                    <div class="form-check mb-2 d-flex align-items-center">
                                                                        <b><label style="color:red" class="form-check-label me-3">② 보기222</label></b>
                                                                    </div>
                                                                    <div class="form-check mb-2 d-flex align-items-center">
                                                                        <b><label  style="color:blue"  class="form-check-label me-3">③ 보기333</label> </b>
                                                                    </div>
                                                                    <div class="form-check mb-2 d-flex align-items-center">
                                                                        <b><label class="form-check-label me-3">④ 보기444</label> </b>
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="small mb-1" ><b>출제의도</b></label>
                                                                    ㅇㅇㅇ 의도로 출제되었습니다.
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!-- 문제출제 div 박스  -->
                                                <div>
                                                    <div class="card mb-4">
                                                        <div class="card-header">문제2</div>
                                                        <div class="card-body">
                                                            <form>
                                                                <div class="mb-3">
                                                                    <label class="small mb-1" style="color: red; font-weight: bold;"><b>어휘 : 기초</b></label><br>
                                                                    <b>Q : 다음이 의미하는 것은 무엇인가?</b>
                                                                </div>
                                                                <div class="mb-0">
                                                                    <div class="form-check mb-2 d-flex align-items-center">
                                                                        <b></b><label class="form-check-label me-3">① 보기111</label></b>
                                                                    </div>
                                                                    <div class="form-check mb-2 d-flex align-items-center">
                                                                        <b><label class="form-check-label me-3">② 보기222</label></b>
                                                                    </div>
                                                                    <div class="form-check mb-2 d-flex align-items-center">
                                                                        <b><label  style="color:blue"  class="form-check-label me-3">③ 보기333</label> </b>
                                                                    </div>
                                                                    <div class="form-check mb-2 d-flex align-items-center">
                                                                        <b><label class="form-check-label me-3">④ 보기444</label> </b>
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="small mb-1" ><b>출제의도</b></label>
                                                                    ㅇㅇㅇ 의도로 출제되었습니다.
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr>

                                                <!-- 하단 피드백 작성 & GPT 추천  -->
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div>
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h1>피드백 작성</h1>
                                                                </div>

                                                                <div class="card-body mb-3 justify-content-center">
                                                                    <form>
<textarea class="form-control" rows="24">피드백 입니다.
피드백 입니다.
피드백 입니다.피드백 입니다.
피드백 입니다.
</textarea>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- 하단 피드백 작성 & GPT 추천  -->
                                                    <div class="col-lg-6">
                                                        <div class="nav-sticky">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <img src="/assets/img/gpt_icon.png" height="35">
                                                                </div>

                                                                <div class="card-body mb-3 justify-content-center">
                                                                    <form>
<textarea class="form-control" rows="20">GPT에서 받아온 내용이 출력됩니다.
GPT에서 받아온 내용이 출력됩니다.
GPT에서 받아온 내용이 출력됩니다.
GPT에서 받아온 내용이 출력됩니다.
</textarea>
                                                                        <br><button class="btn btn-success">GPT에게 추천받기</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>







                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>








            <!-- --------------------------- [중앙 : 컨텐츠 END]  ------------------------------------->

        </main>

        <!-- --------------------------- [FRAGMENT : 하단] ------------------------------------->
        <footer th:replace="fragments/footer :: footer"></footer>

    </div>
</div>

<!-- 공통 <script> 포함 -->
<div th:replace="fragments/scripts :: scripts"></div>

<!-- jQuery (필요한 경우) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      var triggerTabList = [].slice.call(document.querySelectorAll('#cardTab a'))
      triggerTabList.forEach(function (triggerEl) {
        var tabTrigger = new bootstrap.Tab(triggerEl)

        triggerEl.addEventListener('click', function (event) {
          event.preventDefault()
          tabTrigger.show()
        })
      })
    });
</script>

</body>
</html>
