.remove{
  display : none;
}
.post-list{
  width:300px;
}
.card-body-hr{
  margin-top: 30px;
}
img{
  width: 200px;
  border-radius: 50px;
  margin-bottom: 20px;
}
.header-hr{
  display: flex;
  justify-content: space-between;
}
.header-hr-left,.header-hr-right{
  display: flex;
}
.header-hr-left{
  margin-left: 60px;
}
.header-hr-right{
  margin-right: 60px;
}
.card-header-hr{
  display: flex;
  justify-content: space-between;
}
/*admin-dashboard*/
table tbody tr {
  background-color: white !important;
}
.member-level-chart{
  width: 400px;
  height: 400px;
}
.chart-wrap2, .chart-wrap4, .chart-wrap{
  display: flex;
  justify-content: space-around;
  height: 400px;
}
canvas{
  display: block;
  width: 400px;
  height: 100%;
}
.none{
  display: none;
}
#no-lecture, #no-llm{
  text-align: center;
  font-size: xx-large;
}