<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}">
</head>

<body class="bg-white">

<!-- --------------------------- [FRAGMENT : 상단 네이게이션바]  ------------------------------------->
<div th:replace="~{fragments/top-nav :: top-nav}"></div>

<div id="layoutSidenav">
  <div id="layoutSidenav_nav"></div>
  <div id="layoutSidenav_content">
    <main>

      <!-- --------------------------- [FRAGMENT : 배너]  ------------------------------------->
      <div th:replace="~{fragments/top-banner :: top-banner}"></div>

      <!-- --------------------------- [중앙 : 컨텐츠 START]  ------------------------------------->
      <div class="container-xl px-4 mt-n10">
        <div class="row">
          <div class="col-lg-12">

            <!-- Q&A 글쓰기 입력폼   -->
            <div id="fadeIn">
              <div class="card mb-4">
                <div class="card-header"><b>Q&A 게시판 글 상세보기</b></div>
                <div class="card-body">

                  <!--------------------------- -------------->
                  <form>
                    <div
                        class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                      <div class="datatable-container">
                        <br>
                        <table id="datatablesSimple" class="datatable-table">
                          <tbody>
                          <tr>
                            <th data-sortable="true" style="width: 10%;">제목</th>
                            <td th:text="${qnaDetail.title}"></td>
                          </tr>
                          <tr>
                            <th data-sortable="true" style="width: 10%;">작성자</th>
                            <td th:text="${qnaDetail.authorName}"></td>
                          </tr>
                          <tr>
                            <th data-sortable="true" style="width: 10%;">등록일</th>
                            <td>
                              <span
                                  th:text="${#temporals.format(qnaDetail.createdAt, 'yyyy-MM-dd')}"></span>
                            </td>
                          </tr>
                          <tr>
                            <th data-sortable="true" style="width: 10%;">내용</th>
                            <td style="white-space: pre-wrap;" th:text="${qnaDetail.content}"></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <hr>

                    <div class="card mb-4">
                      <div class="card-body">
                        <div class="sbp-preview">
                          <div class="sbp-preview-content">
                            <div class="timeline">

                              <!-- 댓글 조회 -->
                              <div class="timeline-item" th:each="reply : ${replyList}">
                                <div class="timeline-item-marker">
                                  <div class="timeline-item-marker-text"
                                       th:text="${#temporals.format(reply.createdAt, 'yyyy-MM-dd')}"></div>
                                </div>
                                <div class="timeline-item-content pt-0">
                                  <div class="card shadow-sm">
                                    <div class="card-body" style="white-space: pre-wrap;"
                                         th:text="${reply.content}"></div>
                                  </div>
                                </div>
                              </div>

                              <!-- 댓글 작성 -->
                              <div class="timeline-item">
                                <div class="timeline-item-marker">
                                  <div class="timeline-item-marker-text"
                                       th:text="${#dates.format(#dates.createToday(), 'yyyy-MM-dd')}"></div>
                                </div>
                                <div class="timeline-item-content pt-0">
                                  <form id="replyPostInsert">
                                    <input type="hidden" name="questionSeq" id="questionSeq"
                                           th:value="${qnaDetail.questionSeq}"/>
                                    <input type="hidden" id="memberSeq" th:value="${memberSeq}"/>
                                    <textarea class="form-control" rows="5" id="content"
                                              placeholder="댓글"></textarea>
                                    <div class="col-12 mt-4 d-flex justify-content-center">
                                      <button class="btn btn-primary mx-2 px-3" type="button"
                                              id="submitReply">댓글등록
                                      </button>
                                    </div>
                                  </form>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </form>
                  <!--------------------------- -------------->

                </div>
              </div>
            </div>
            <!-- 게시판 목록 -->

          </div>
        </div>
      </div>
      <!-- --------------------------- [중앙 : 컨텐츠 END]  ------------------------------------->

    </main>

    <!-- --------------------------- [FRAGMENT : 하단] ------------------------------------->
    <footer th:replace="~{fragments/footer :: footer}"></footer>

  </div>
</div>

<!-- 공통 <script> 포함 -->
<div th:replace="~{fragments/scripts :: scripts}"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('#submitReply').click(function () {
      console.log("클릭됨.");
      const memberSeq = $('#memberSeq').val();
      const questionSeq = $('#questionSeq').val();
      const content = $('#content').val();
      console.log("memberSeq: " + memberSeq);
      console.log("questionSeq : " + questionSeq);
      console.log("content : " + content);
      $.ajax({
        url: '/api/general/qna/reply',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
          memberSeq: memberSeq,
          questionSeq: questionSeq,
          content: content
        }),
        success: function (response) {
          if (response) {
            alert('댓글이 성공적으로 등록되었습니다.');
            window.location.href = "/qna/detail/" + questionSeq;
          } else {
            alert('댓글 등록에 실패했습니다.');
          }
        },
        error: function (xhr, status, error) {
          console.error('Error:', error);
          alert('댓글 등록 중 오류가 발생했습니다.');
        }
      });
    });
  });
</script>

</body>

</html>
